<!doctype html>
<html lang="en">
<head>
    <title>{% block subject %}{{ subject }}{% endblock %}</title>
</head>
<body>

{% block body %}
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}

</body>
</html>
